.menu-lateral{
    display: block;
    width: 17%;
    height: calc(100vh - 80px);
    position: fixed;
    background: #6a346a;
    padding: 15px 0;
    margin-top: 80px;
}

.menu-lateral li{
    display: inline-block;
    width: 100%;
}

.menu-lateral li:hover{
    background: #e000e0;
    font-weight: bold;
    cursor: pointer;
}

.menu-lateral li span{
    display: inline-block;
    margin-left: 20px;
    padding: 15px 0;
    transform: translateY(4px);
    font-size: 24px;
    color: #fff;
}

.menu-lateral a{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    color: #fff;
}