@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

body{
    background-image: url('../../assets/images/background_salao.jpg');
    overflow-x: hidden;
}

li{
    display: inline;
    list-style-type: none;
}
a{
    text-decoration: none;
}

main .main-container{
    width: 83%;
    padding: 80px 10px 0 0;
    margin-left: 330px;
}

main .main-container .historico-agendamento{
    width: 100%;
    margin: 20px auto;
    /* padding: 0 0 0 15px; */
}

main .main-container .historico-agendamento table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

main .main-container .historico-agendamento table thead th{
    padding: 5px;
    border: none;
    background-color: #610d75;
    color: #fff;
}

main .main-container .historico-agendamento table tbody tr{
    border: none;
}

main .main-container .historico-agendamento table tbody td{
    padding: 5px;
}

main .main-container .historico-agendamento table tbody td .material-icons.concluido{
    color: #1fc829;
}

main .main-container .historico-agendamento table tbody td .material-icons.andamento{
    color: #eeee2f;
}

main .main-container .historico-agendamento table tbody td .material-icons.cancelado{
    color: #ff0000;
}

main .main-container .historico-agendamento table tbody tr:nth-child(even){
    background-color: #ccc;
}
main .main-container .historico-agendamento table tbody tr:nth-child(odd){
    background-color: #fff;
}