/* ESTILO DO CABEÇALHO */
header{
    width: 100vw;
}

header .menu-fixed{
    position: fixed;
    z-index: 1;
}

header div.contacts{
    height: 80px;
    width: 100vw;
    color: #fff;
    background-color: #610d75;
    position: relative;
}

header div.contacts .logo{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

header div.contacts .logo img{
    display: inline;
    width: 100%;
    height: 100%;
    filter: brightness(10);
}

header div.contacts .direct-contacts{
    display: inline;
    position: absolute;
    top: 30px;
    margin-left: 30px;
}

header div.contacts .direct-contacts span.material-icons{
    margin-left: 40px;
}

header div.contacts .direct-contacts p{
    display: inline-block;
    transform: translateY(-5px);
    font-size: 20px;
    font-weight: bold;
}

header div.contacts .hamburguer{
    display: none;
}

header div.contacts nav{
    position: absolute;
    top: 30px;
    right: 40px;
}

header div.contacts nav ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

header div.contacts nav ul li{
    display: inline-block;
    height: 30px;
    color: #fff;
    transition: all .127s ease;
}

header div.contacts nav ul li:hover{
    font-weight: bolder;
    color: #fcff46;
}

header div.contacts nav ul li a{
    display: inline-block;
    margin-left: 5px;
    transform: translateY(-7px);
    color: inherit;
}